@model IEnumerable<HomeService.Business.ClimateData>
@using HomeService.Business
<meta http-equiv="refresh" content="60" />
<table class="table table-hover">
 
	<thead>
	<th>Lokasjon</th>
	<th>Temperatur</th>
	<th> Fuktighet</th>
	<th>Tidskontroll</th>
	<th>Informasjon</th>
	<tbody>
		@foreach (var data in ViewData["ClimateData"] as IEnumerable<HomeService.Business.ClimateData>)
		{

			<tr class="table-info">
				<td>
					@Helper.ToLower(data.Location)
				</td>
				<td>

					@if (data.Temperature < 18.0 || data.Temperature > 22.0)
					{
						<p style="color:palevioletred">@String.Concat(data.Temperature, Html.Raw(((char)176).ToString())) </p>
					}

					else
					{
						@String.Concat(data.Temperature, Html.Raw(((char)176).ToString()))

					}
				</td>
				<td>
					@if (data.Humidity > 55 || data.Humidity < 40 && data.Humidity != 0)
					{
						<p style="color:palevioletred">@data.Humidity % </p>
					}

					else if (data.Humidity != 0)
					{
						<p> @data.Humidity %</p>
					}

					@if (data.Humidity == 0)
					{
						<p> N/A</p>
					}

				</td>
				<td>
					@data.Timestamp
				</td>

				<td>
					@if (data.Humidity > 50 && data.Humidity != 0)
					{
						<p style="color:palevioletred">Høy fuktighet! </p>
					}
					@if (data.Humidity <= 50 && data.Humidity >= 40 && data.Temperature >= 18 && data.Temperature <= 22)
					{
						<p>OK</p>
					}
					@if (data.Humidity == 0 && data.Temperature >= 18 && data.Temperature <= 22)
					{
						<p>OK</p>
					}
					@if (data.Humidity < 30 && data.Humidity != 0)
					{
						<p style="color:palevioletred">Lav fuktighet! </p>
					}

					@if (data.Temperature < 18.0)
					{
						<p style="color:palevioletred"> kaldt brrr! </p>
					}
					@if (data.Temperature > 22.0)
					{
						<p style="color:palevioletred"> Varmt! </p>
					}

				</td>
			</tr>

		}
	</tbody>
</table>

@if (ViewData["AlarmStatus"].Equals("unarmed"))
{
	<div class="alert alert-danger" role="alert">
		<p>@ViewData["AlarmStatus"]: Ulåst(@ViewData["AlarmLabel"])</p>
		<p>Bruker: @ViewData["AlarmUser"]</p>
		<p>@ViewData["AlarmStatusDate"]</p>
		
	</div>
}
else
{
	<div class="alert alert-success" role="alert">
		<p>@ViewData["AlarmStatus"]: Låst(@ViewData["AlarmLabel"])</p>
		<p>Bruker: @ViewData["AlarmUser"]</p>
		<p>@ViewData["AlarmStatusDate"]</p>
		
	</div>
}








