@model IEnumerable<HomeService.Controllers.ClimateData>

<table class="table table-hover">

	<thead>
	<th>Lokasjon</th>
	<th>Temperatur</th>
	<th> Fuktighet</th>
	<th>Tidskontroll</th>
	<th>Informasjon</th>
	<tbody>
		@foreach (var data in ViewData["ClimateData"] as IEnumerable<HomeService.Controllers.ClimateData>)
		{

			<tr class="table-warning">
				<td>
					@data.Location
				</td>
				<td>

					@String.Concat(data.Temperature, Html.Raw(((char)176).ToString()))

				</td>
				<td>
					@data.Humidity
				</td>
				<td>
					@data.Timestamp
				</td>

				<td>
					Alt ser bra ut!
				</td>
			</tr>

		}
	</tbody>
	</thead>
</table>

@if (ViewData["AlarmStatus"].Equals("unarmed"))
{
	<div class="alert alert-danger" role="alert">
		<p>@ViewData["AlarmStatus"]: Ulåst</p>
		<p>@ViewData["AlarmStatusDate"]</p>
	</div>
}
else
{
	<div class="alert alert-success" role="alert">
		<p>@ViewData["AlarmStatus"]: Låst</p>
		<p>@ViewData["AlarmStatusDate"]</p>
	</div>
}








